BACKEND_SECRET_KEY=secrettttt
BACKEND_GOOGLE_CLIENT_ID=
FIRST_ALLOWED_USER_EMAIL=example@i_dont_exist.com
SQLALCHEMY_DATABASE_URL=sqlite:///db_temp/mokkiovi.db
TEST_USER=test_user
BACKEND_ALLOWED_ORIGINS="http://localhost:3000;http://localhost:3001"